In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv('data/train.csv')
train_df.head()

,bidder_id,payment_account,address,outcome
0,3758013f9a2c4f9d8670e709d9e8beaba6f57,32a6f444ff094840b58be6bb6db6a04fe4f85,4f2ed7fc454d535ecba88bc7f854925dfe4ab,0.0
1,8a12c97c9dac9ef7fcbbceaf7522447cf6e49,eb0ae407d20ab19351c5271abe4ca12ce84c0,1c73853ef410e4095382f8d6ddeb0b9d22bb0,0.0
2,27b3a0fecc63bf830bc44961c90f330308364,87dbae72fd15fa13f14217e47f32fa0ea9417,c4bbeba55def4b3861ac24cc5efd82b886b9b,0.0
3,2a2b18bbdfa736637911cf407799b409112a2,40a0df1d610ef30a8f01d48198ab60bee51e2,021918f1b3fc828970b230eaf4d49f8a93b95,0.0
4,3fdc7c645e5e131c05f1ae112dbae407523c5,3d20d9941901359e5fed3dfc0c5bf45dfd968,d6331a777cabb7c5df46c6a0377136b904614,0.0

In [4]:
test_df = pd.read_csv('data/test.csv')
test_df.head()

,bidder_id,payment_account,address
0,0013f9b8d1f462df4462e1c1216e441ba6e18,b533766504f7cac1380ad70e4ae21ae29d83e,c8c25695d81d1bec3645b43a0d1107de014ae
1,0014e3b911d1420e43ced1dc4fc18fde0fd0c,f7e5e84d873cf8595077c2ecdf7059dec4544,b898d2e8088f4ff9823b8b8883886720bf44a
2,002828f800c5132e297cfe3d44fbde9aeac51,218b41ac41d259b11e52c2cf5a947c040ec1a,bb386f62212f98f6c5e25d5f81dc64069efe0
3,0040cea6b93afd86768c365d89513ffb7c0ba,27eb8ae5e2eebd813b4e848c31a2a1507e0ab,16054860ef1c4ec72ec5da8d92047b8a983ee
4,00512db4ae953baed983a4bcfa335e7412013,553384bd9bb0551f5a9dc3118929c54d9ff8a,fb24aee263866fa218090ae99b374f354816b

In [5]:
bids_df = pd.read_csv('data/bids.csv')
bids_df.head()

,bidder_id,auction,merchandise,device,time,country,ip,url
0,6b18a5b1eb756ed0968e726077ac6f574a163,hfwg0,sporting goods,phone4261,9631916842105263,cz,58.66.142.81,kiepbuv7y92mx3t
1,94587f4554fd3b271147490c35a27549f89f7,22iq4,jewelry,phone738,9631916842105263,ru,95.161.165.11,4sqivcoh12vctv7
2,cfe767f0e4cd7c62515326a795a661c422dcc,w69k8,mobile,phone3459,9631916842105263,lt,75.233.227.15,ae97emyjh9trong
3,73fe2fb4f9d657de35ccf3ad4fc8c1603e43c,k8pyh,jewelry,phone3459,9631916842105263,sa,49.252.224.185,26mecamx4l5vhiq
4,39ce4ad64b91b87b9f6e31064644f7a011b04,c1ok3,office equipment,phone3311,9631916842105263,tr,54.83.204.113,ae97emyjh9trong

In [6]:
sample_df = pd.read_csv('data/sample-submission.csv')
sample_df.head()

                                      Id  Predicted
0  0013f9b8d1f462df4462e1c1216e441ba6e18          0
1  0014e3b911d1420e43ced1dc4fc18fde0fd0c          0
2  002828f800c5132e297cfe3d44fbde9aeac51          0
3  0040cea6b93afd86768c365d89513ffb7c0ba          0
4  00512db4ae953baed983a4bcfa335e7412013          0

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013 entries, 0 to 2012
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bidder_id        2013 non-null   object
 1   payment_account  2013 non-null   object
 2   address          2013 non-null   object
 3   outcome          2013 non-null   float64
dtypes: float64(1), object(3)
memory usage: 63.0+ KB

In [8]:
bids_df.isnull().sum()

bidder_id         0
auction           0
merchandise       0
device            0
time              0
country        8859
ip                0
url               0
dtype: int64

In [9]:
bids_df['country'] = bids_df['country'].fillna(bids_df['country'].value_counts().idxmax()) #to do mode imputation for country 
bids_df.head()

,bidder_id,auction,merchandise,device,time,country,ip,url
0,6b18a5b1eb756ed0968e726077ac6f574a163,hfwg0,sporting goods,phone4261,9631916842105263,cz,58.66.142.81,kiepbuv7y92mx3t
1,94587f4554fd3b271147490c35a27549f89f7,22iq4,jewelry,phone738,9631916842105263,ru,95.161.165.11,4sqivcoh12vctv7
2,cfe767f0e4cd7c62515326a795a661c422dcc,w69k8,mobile,phone3459,9631916842105263,lt,75.233.227.15,ae97emyjh9trong
3,73fe2fb4f9d657de35ccf3ad4fc8c1603e43c,k8pyh,jewelry,phone3459,9631916842105263,sa,49.252.224.185,26mecamx4l5vhiq
4,39ce4ad64b91b87b9f6e31064644f7a011b04,c1ok3,office equipment,phone3311,9631916842105263,tr,54.83.204.113,ae97emyjh9trong

In [10]:
bids_df.isnull().sum()

bidder_id      0
auction        0
merchandise    0
device         0
time           0
country        0
ip             0
url            0
dtype: int64

In [11]:
train_df.isnull().sum()

bidder_id          0
payment_account    0
address            0
outcome            0
dtype: int64

In [12]:
test_df.shape

(4700, 3)

In [13]:
bids_df.shape

(7656334, 8)

In [14]:
bids_df_unique = bids_df.groupby("bidder_id").nunique()
bids_df_unique = bids_df_unique.rename(columns = {"bidder_id": "something"})
bids_df_unique = bids_df_unique.drop(columns = "something")
bids_df_unique= bids_df_unique.reset_index()
bids_df_unique

,bidder_id,auction,merchandise,device,time,country,ip,url
0,0013f9b8d1f462df4462e1c1216e441ba6e18,6,1,7,8,2,8,4
1,0014e3b911d1420e43ced1dc4fc18fde0fd0c,7,1,7,7,4,7,4
2,002828f800c5132e297cfe3d44fbde9aeac51,2,1,1,2,1,2,1
3,00402f50c4086f320cb6bf94f04462ea32441,89,1,99,249,21,151,98
4,0040cea6b93afd86768c365d89513ffb7c0ba,23,1,21,31,6,28,4
...,...,...,...,...,...,...,...,...
6609,ffd49be672b1ba493b07dccf29311045c5392,20,1,69,168,5,102,40
6610,ffdd8ed91a683b0f2a8237798ebe9214e3c43,4,1,3,5,1,4,2
6611,ffde8717e9a547d536a4e9c3f44782829c021,16,1,20,24,6,24,4
6612,ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7,3,1,2,3,2,3,2
6613,ffef2a34068ab5328795bc9ed2da46aa29626,70,1,50,103,13,73,33

In [15]:
bids_df_count = bids_df.groupby("bidder_id").count()
bids_df_count= bids_df_count.reset_index()
bids_df_count

,bidder_id,auction,merchandise,device,time,country,ip,url
0,0013f9b8d1f462df4462e1c1216e441ba6e18,8,8,8,8,8,8,8
1,0014e3b911d1420e43ced1dc4fc18fde0fd0c,7,7,7,7,7,7,7
2,002828f800c5132e297cfe3d44fbde9aeac51,2,2,2,2,2,2,2
3,00402f50c4086f320cb6bf94f04462ea32441,249,249,249,249,249,249,249
4,0040cea6b93afd86768c365d89513ffb7c0ba,31,31,31,31,31,31,31
...,...,...,...,...,...,...,...,...
6609,ffd49be672b1ba493b07dccf29311045c5392,168,168,168,168,168,168,168
6610,ffdd8ed91a683b0f2a8237798ebe9214e3c43,5,5,5,5,5,5,5
6611,ffde8717e9a547d536a4e9c3f44782829c021,24,24,24,24,24,24,24
6612,ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7,3,3,3,3,3,3,3
6613,ffef2a34068ab5328795bc9ed2da46aa29626,103,103,103,103,103,103,103

In [16]:
left_merged_df = train_df.merge(bids_df_unique, how = "left")
left_merged_df.head()

,bidder_id,payment_account,address,outcome,auction,merchandise,device,time,country,ip,url
0,3758013f9a2c4f9d8670e709d9e8beaba6f57,32a6f444ff094840b58be6bb6db6a04fe4f85,4f2ed7fc454d535ecba88bc7f854925dfe4ab,0.0,25.0,1.0,30.0,50.0,8.0,37.0,15.0
1,8a12c97c9dac9ef7fcbbceaf7522447cf6e49,eb0ae407d20ab19351c5271abe4ca12ce84c0,1c73853ef410e4095382f8d6ddeb0b9d22bb0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,27b3a0fecc63bf830bc44961c90f330308364,87dbae72fd15fa13f14217e47f32fa0ea9417,c4bbeba55def4b3861ac24cc5efd82b886b9b,0.0,2.0,1.0,1.0,3.0,3.0,3.0,2.0
3,2a2b18bbdfa736637911cf407799b409112a2,40a0df1d610ef30a8f01d48198ab60bee51e2,021918f1b3fc828970b230eaf4d49f8a93b95,0.0,33.0,1.0,22.0,61.0,4.0,34.0,9.0
4,3fdc7c645e5e131c05f1ae112dbae407523c5,3d20d9941901359e5fed3dfc0c5bf45dfd968,d6331a777cabb7c5df46c6a0377136b904614,0.0,377.0,1.0,462.0,3177.0,72.0,2318.0,190.0

In [17]:
print(left_merged_df.shape)
print(train_df.shape)

(2013, 11)
(2013, 4)

In [18]:
left_merged_df = left_merged_df.fillna(0)
left_merged_df.isnull().sum()

bidder_id          0
payment_account    0
address            0
outcome            0
auction            0
merchandise        0
device             0
time               0
country            0
ip                 0
url                0
dtype: int64

In [19]:
left_merged_df.columns

Index(['bidder_id', 'payment_account', 'address', 'outcome', 'auction',
       'merchandise', 'device', 'time', 'country', 'ip', 'url'],
      dtype='object')

In [20]:
left_merged_df

,bidder_id,payment_account,address,outcome,auction,merchandise,device,time,country,ip,url
0,3758013f9a2c4f9d8670e709d9e8beaba6f57,32a6f444ff094840b58be6bb6db6a04fe4f85,4f2ed7fc454d535ecba88bc7f854925dfe4ab,0.0,25.0,1.0,30.0,50.0,8.0,37.0,15.0
1,8a12c97c9dac9ef7fcbbceaf7522447cf6e49,eb0ae407d20ab19351c5271abe4ca12ce84c0,1c73853ef410e4095382f8d6ddeb0b9d22bb0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,27b3a0fecc63bf830bc44961c90f330308364,87dbae72fd15fa13f14217e47f32fa0ea9417,c4bbeba55def4b3861ac24cc5efd82b886b9b,0.0,2.0,1.0,1.0,3.0,3.0,3.0,2.0
3,2a2b18bbdfa736637911cf407799b409112a2,40a0df1d610ef30a8f01d48198ab60bee51e2,021918f1b3fc828970b230eaf4d49f8a93b95,0.0,33.0,1.0,22.0,61.0,4.0,34.0,9.0
4,3fdc7c645e5e131c05f1ae112dbae407523c5,3d20d9941901359e5fed3dfc0c5bf45dfd968,d6331a777cabb7c5df46c6a0377136b904614,0.0,377.0,1.0,462.0,3177.0,72.0,2318.0,190.0
...,...,...,...,...,...,...,...,...,...,...,...
2008,6c882acd41865f09edbef0075d0224feeb246,cc53fc05a77105352f5c52ad45d6dc16d6cf1,96507e44143695e8df908908e40d7922caebd,0.0,68.0,1.0,125.0,296.0,27.0,210.0,47.0
2009,0bbbc9ab5b0f4117de20eec945c10b027c812,2b9e6e1815d8a59fc5533dc90cd376bb949c8,5182e89f3ca6a1614321f8d9b288c111013de,0.0,7.0,1.0,5.0,14.0,1.0,7.0,6.0
2010,db8d65fd2c6934e9c3448398c3bd442f52a1a,d0056d416ad19db0b523070857ab165362475,df1ec221c46b2995563aceac9c60da8e68746,0.0,23.0,1.0,15.0,26.0,8.0,19.0,10.0
2011,e2697e6c718d4bccf18f647c5284b6973bfc4,101bcafedae6b0f5cac5a1f7aab0990764ff7,479b26a0b6826749981ba0d7946c04e23b6ab,0.0,28.0,1.0,3.0,54.0,4.0,5.0,6.0
2012,be64780d529b64e6ff7942314666ba1d30b07,e87729842ec09a6c0956aa337387e43666c2c,6ae339d7c3208854aac4dadb3619e917da901,0.0,38.0,1.0,9.0,89.0,7.0,46.0,1.0

In [21]:
bids_df_count

,bidder_id,auction,merchandise,device,time,country,ip,url
0,0013f9b8d1f462df4462e1c1216e441ba6e18,8,8,8,8,8,8,8
1,0014e3b911d1420e43ced1dc4fc18fde0fd0c,7,7,7,7,7,7,7
2,002828f800c5132e297cfe3d44fbde9aeac51,2,2,2,2,2,2,2
3,00402f50c4086f320cb6bf94f04462ea32441,249,249,249,249,249,249,249
4,0040cea6b93afd86768c365d89513ffb7c0ba,31,31,31,31,31,31,31
...,...,...,...,...,...,...,...,...
6609,ffd49be672b1ba493b07dccf29311045c5392,168,168,168,168,168,168,168
6610,ffdd8ed91a683b0f2a8237798ebe9214e3c43,5,5,5,5,5,5,5
6611,ffde8717e9a547d536a4e9c3f44782829c021,24,24,24,24,24,24,24
6612,ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7,3,3,3,3,3,3,3
6613,ffef2a34068ab5328795bc9ed2da46aa29626,103,103,103,103,103,103,103

In [22]:
total_bids = bids_df_count.rename(columns = {"auction":"total_bids"})
total_bids = total_bids.drop(columns = ['merchandise', 'device', 'time', 'country',
       'ip', 'url'])
total_bids

                                  bidder_id  total_bids
0     0013f9b8d1f462df4462e1c1216e441ba6e18           8
1     0014e3b911d1420e43ced1dc4fc18fde0fd0c           7
2     002828f800c5132e297cfe3d44fbde9aeac51           2
3     00402f50c4086f320cb6bf94f04462ea32441         249
4     0040cea6b93afd86768c365d89513ffb7c0ba          31
...                                     ...         ...
6609  ffd49be672b1ba493b07dccf29311045c5392         168
6610  ffdd8ed91a683b0f2a8237798ebe9214e3c43           5
6611  ffde8717e9a547d536a4e9c3f44782829c021          24
6612  ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7           3
6613  ffef2a34068ab5328795bc9ed2da46aa29626         103

[6614 rows x 2 columns]

In [23]:
left_merged_df = left_merged_df.merge(total_bids, how = "left")

In [24]:
left_merged_df.isnull().sum()

bidder_id           0
payment_account     0
address             0
outcome             0
auction             0
merchandise         0
device              0
time                0
country             0
ip                  0
url                 0
total_bids         29
dtype: int64

In [25]:
left_merged_df = left_merged_df.fillna(0)
left_merged_df.isnull().sum()

bidder_id          0
payment_account    0
address            0
outcome            0
auction            0
merchandise        0
device             0
time               0
country            0
ip                 0
url                0
total_bids         0
dtype: int64

In [26]:
left_merged_df

,bidder_id,payment_account,address,outcome,auction,merchandise,device,time,country,ip,url,total_bids
0,3758013f9a2c4f9d8670e709d9e8beaba6f57,32a6f444ff094840b58be6bb6db6a04fe4f85,4f2ed7fc454d535ecba88bc7f854925dfe4ab,0.0,25.0,1.0,30.0,50.0,8.0,37.0,15.0,50.0
1,8a12c97c9dac9ef7fcbbceaf7522447cf6e49,eb0ae407d20ab19351c5271abe4ca12ce84c0,1c73853ef410e4095382f8d6ddeb0b9d22bb0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,27b3a0fecc63bf830bc44961c90f330308364,87dbae72fd15fa13f14217e47f32fa0ea9417,c4bbeba55def4b3861ac24cc5efd82b886b9b,0.0,2.0,1.0,1.0,3.0,3.0,3.0,2.0,3.0
3,2a2b18bbdfa736637911cf407799b409112a2,40a0df1d610ef30a8f01d48198ab60bee51e2,021918f1b3fc828970b230eaf4d49f8a93b95,0.0,33.0,1.0,22.0,61.0,4.0,34.0,9.0,61.0
4,3fdc7c645e5e131c05f1ae112dbae407523c5,3d20d9941901359e5fed3dfc0c5bf45dfd968,d6331a777cabb7c5df46c6a0377136b904614,0.0,377.0,1.0,462.0,3177.0,72.0,2318.0,190.0,3184.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2008,6c882acd41865f09edbef0075d0224feeb246,cc53fc05a77105352f5c52ad45d6dc16d6cf1,96507e44143695e8df908908e40d7922caebd,0.0,68.0,1.0,125.0,296.0,27.0,210.0,47.0,297.0
2009,0bbbc9ab5b0f4117de20eec945c10b027c812,2b9e6e1815d8a59fc5533dc90cd376bb949c8,5182e89f3ca6a1614321f8d9b288c111013de,0.0,7.0,1.0,5.0,14.0,1.0,7.0,6.0,14.0
2010,db8d65fd2c6934e9c3448398c3bd442f52a1a,d0056d416ad19db0b523070857ab165362475,df1ec221c46b2995563aceac9c60da8e68746,0.0,23.0,1.0,15.0,26.0,8.0,19.0,10.0,26.0
2011,e2697e6c718d4bccf18f647c5284b6973bfc4,101bcafedae6b0f5cac5a1f7aab0990764ff7,479b26a0b6826749981ba0d7946c04e23b6ab,0.0,28.0,1.0,3.0,54.0,4.0,5.0,6.0,54.0
2012,be64780d529b64e6ff7942314666ba1d30b07,e87729842ec09a6c0956aa337387e43666c2c,6ae339d7c3208854aac4dadb3619e917da901,0.0,38.0,1.0,9.0,89.0,7.0,46.0,1.0,89.0

In [27]:
# total_bids = bids_df_count.rename(columns = {"auction":"total_bids"})
# total_bids = total_bids.drop(columns = ['merchandise', 'device', 'time', 'country','ip', 'url'])
# total_bids

left_merged_df["bids_per_auction"] = left_merged_df["total_bids"]/ left_merged_df["auction"]
left_merged_df = left_merged_df.fillna(0)
left_merged_df["bids_per_auction"] = left_merged_df["bids_per_auction"].astype(int)
left_merged_df.isnull().sum()

# bids_per_auction.shape
# bids_per_auction.isnull().sum()

bidder_id           0
payment_account     0
address             0
outcome             0
auction             0
merchandise         0
device              0
time                0
country             0
ip                  0
url                 0
total_bids          0
bids_per_auction    0
dtype: int64

In [28]:
new_bids_per_auction = left_merged_df.drop(columns = ['payment_account', 'address', 'outcome', 'auction',
       'merchandise', 'device', 'time', 'country', 'ip', 'url', 'total_bids'])
new_bids_per_auction #easier to merge with test set

                                  bidder_id  bids_per_auction
0     3758013f9a2c4f9d8670e709d9e8beaba6f57                 2
1     8a12c97c9dac9ef7fcbbceaf7522447cf6e49                 1
2     27b3a0fecc63bf830bc44961c90f330308364                 1
3     2a2b18bbdfa736637911cf407799b409112a2                 1
4     3fdc7c645e5e131c05f1ae112dbae407523c5                 8
...                                     ...               ...
2008  6c882acd41865f09edbef0075d0224feeb246                 4
2009  0bbbc9ab5b0f4117de20eec945c10b027c812                 2
2010  db8d65fd2c6934e9c3448398c3bd442f52a1a                 1
2011  e2697e6c718d4bccf18f647c5284b6973bfc4                 1
2012  be64780d529b64e6ff7942314666ba1d30b07                 2

[2013 rows x 2 columns]

In [29]:
new_bids_per_auction.isnull().sum()

bidder_id           0
bids_per_auction    0
dtype: int64

In [30]:
left_merged_df["bids_per_device"] = left_merged_df["total_bids"]/ left_merged_df["device"]
left_merged_df = left_merged_df.fillna(0)
left_merged_df["bids_per_device"] = left_merged_df["bids_per_device"].astype(int)
left_merged_df.isnull().sum()

bidder_id           0
payment_account     0
address             0
outcome             0
auction             0
merchandise         0
device              0
time                0
country             0
ip                  0
url                 0
total_bids          0
bids_per_auction    0
bids_per_device     0
dtype: int64

In [31]:
new_bids_per_device = left_merged_df.drop(columns = ['payment_account', 'address', 'outcome', 'auction',
       'merchandise', 'device', 'time', 'country', 'ip', 'url', 'total_bids',
       'bids_per_auction'])
new_bids_per_device #easier to merge with test set

                                  bidder_id  bids_per_device
0     3758013f9a2c4f9d8670e709d9e8beaba6f57                1
1     8a12c97c9dac9ef7fcbbceaf7522447cf6e49                1
2     27b3a0fecc63bf830bc44961c90f330308364                3
3     2a2b18bbdfa736637911cf407799b409112a2                2
4     3fdc7c645e5e131c05f1ae112dbae407523c5                6
...                                     ...              ...
2008  6c882acd41865f09edbef0075d0224feeb246                2
2009  0bbbc9ab5b0f4117de20eec945c10b027c812                2
2010  db8d65fd2c6934e9c3448398c3bd442f52a1a                1
2011  e2697e6c718d4bccf18f647c5284b6973bfc4               18
2012  be64780d529b64e6ff7942314666ba1d30b07                9

[2013 rows x 2 columns]

In [32]:
left_merged_df["bids_per_country"] = left_merged_df["total_bids"]/ left_merged_df["country"]
left_merged_df = left_merged_df.fillna(0)
left_merged_df["bids_per_country"] = left_merged_df["bids_per_country"].astype(int)
left_merged_df.isnull().sum()

bidder_id           0
payment_account     0
address             0
outcome             0
auction             0
merchandise         0
device              0
time                0
country             0
ip                  0
url                 0
total_bids          0
bids_per_auction    0
bids_per_device     0
bids_per_country    0
dtype: int64

In [33]:
new_bids_per_country = left_merged_df.drop(columns = ['payment_account', 'address', 'outcome', 'auction',
       'merchandise', 'device', 'time', 'country', 'ip', 'url', 'total_bids',
       'bids_per_auction', 'bids_per_device'])
new_bids_per_country #easier to merge with test set

                                  bidder_id  bids_per_country
0     3758013f9a2c4f9d8670e709d9e8beaba6f57                 6
1     8a12c97c9dac9ef7fcbbceaf7522447cf6e49                 1
2     27b3a0fecc63bf830bc44961c90f330308364                 1
3     2a2b18bbdfa736637911cf407799b409112a2                15
4     3fdc7c645e5e131c05f1ae112dbae407523c5                44
...                                     ...               ...
2008  6c882acd41865f09edbef0075d0224feeb246                11
2009  0bbbc9ab5b0f4117de20eec945c10b027c812                14
2010  db8d65fd2c6934e9c3448398c3bd442f52a1a                 3
2011  e2697e6c718d4bccf18f647c5284b6973bfc4                13
2012  be64780d529b64e6ff7942314666ba1d30b07                12

[2013 rows x 2 columns]

In [34]:
left_merged_df

,bidder_id,payment_account,address,outcome,auction,merchandise,device,time,country,ip,url,total_bids,bids_per_auction,bids_per_device,bids_per_country
0,3758013f9a2c4f9d8670e709d9e8beaba6f57,32a6f444ff094840b58be6bb6db6a04fe4f85,4f2ed7fc454d535ecba88bc7f854925dfe4ab,0.0,25.0,1.0,30.0,50.0,8.0,37.0,15.0,50.0,2,1,6
1,8a12c97c9dac9ef7fcbbceaf7522447cf6e49,eb0ae407d20ab19351c5271abe4ca12ce84c0,1c73853ef410e4095382f8d6ddeb0b9d22bb0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1
2,27b3a0fecc63bf830bc44961c90f330308364,87dbae72fd15fa13f14217e47f32fa0ea9417,c4bbeba55def4b3861ac24cc5efd82b886b9b,0.0,2.0,1.0,1.0,3.0,3.0,3.0,2.0,3.0,1,3,1
3,2a2b18bbdfa736637911cf407799b409112a2,40a0df1d610ef30a8f01d48198ab60bee51e2,021918f1b3fc828970b230eaf4d49f8a93b95,0.0,33.0,1.0,22.0,61.0,4.0,34.0,9.0,61.0,1,2,15
4,3fdc7c645e5e131c05f1ae112dbae407523c5,3d20d9941901359e5fed3dfc0c5bf45dfd968,d6331a777cabb7c5df46c6a0377136b904614,0.0,377.0,1.0,462.0,3177.0,72.0,2318.0,190.0,3184.0,8,6,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,6c882acd41865f09edbef0075d0224feeb246,cc53fc05a77105352f5c52ad45d6dc16d6cf1,96507e44143695e8df908908e40d7922caebd,0.0,68.0,1.0,125.0,296.0,27.0,210.0,47.0,297.0,4,2,11
2009,0bbbc9ab5b0f4117de20eec945c10b027c812,2b9e6e1815d8a59fc5533dc90cd376bb949c8,5182e89f3ca6a1614321f8d9b288c111013de,0.0,7.0,1.0,5.0,14.0,1.0,7.0,6.0,14.0,2,2,14
2010,db8d65fd2c6934e9c3448398c3bd442f52a1a,d0056d416ad19db0b523070857ab165362475,df1ec221c46b2995563aceac9c60da8e68746,0.0,23.0,1.0,15.0,26.0,8.0,19.0,10.0,26.0,1,1,3
2011,e2697e6c718d4bccf18f647c5284b6973bfc4,101bcafedae6b0f5cac5a1f7aab0990764ff7,479b26a0b6826749981ba0d7946c04e23b6ab,0.0,28.0,1.0,3.0,54.0,4.0,5.0,6.0,54.0,1,18,13
2012,be64780d529b64e6ff7942314666ba1d30b07,e87729842ec09a6c0956aa337387e43666c2c,6ae339d7c3208854aac4dadb3619e917da901,0.0,38.0,1.0,9.0,89.0,7.0,46.0,1.0,89.0,2,9,12

In [35]:
left_merged_df.columns
left_merged_df.shape

(2013, 15)

In [36]:
test_df.columns
test_df.shape

(4700, 3)

In [37]:
test_df.isnull().sum()

bidder_id          0
payment_account    0
address            0
dtype: int64

In [38]:
#TRAINING MODEL!!!

In [39]:
left_merged_df.columns

Index(['bidder_id', 'payment_account', 'address', 'outcome', 'auction',
       'merchandise', 'device', 'time', 'country', 'ip', 'url', 'total_bids',
       'bids_per_auction', 'bids_per_device', 'bids_per_country'],
      dtype='object')

In [40]:
y = left_merged_df.outcome
X = left_merged_df.drop(columns = ['bidder_id', 'payment_account', 'address', 'outcome'])

In [41]:
X

,auction,merchandise,device,time,country,ip,url,total_bids,bids_per_auction,bids_per_device,bids_per_country
0,25.0,1.0,30.0,50.0,8.0,37.0,15.0,50.0,2,1,6
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1
2,2.0,1.0,1.0,3.0,3.0,3.0,2.0,3.0,1,3,1
3,33.0,1.0,22.0,61.0,4.0,34.0,9.0,61.0,1,2,15
4,377.0,1.0,462.0,3177.0,72.0,2318.0,190.0,3184.0,8,6,44
...,...,...,...,...,...,...,...,...,...,...,...
2008,68.0,1.0,125.0,296.0,27.0,210.0,47.0,297.0,4,2,11
2009,7.0,1.0,5.0,14.0,1.0,7.0,6.0,14.0,2,2,14
2010,23.0,1.0,15.0,26.0,8.0,19.0,10.0,26.0,1,1,3
2011,28.0,1.0,3.0,54.0,4.0,5.0,6.0,54.0,1,18,13
2012,38.0,1.0,9.0,89.0,7.0,46.0,1.0,89.0,2,9,12

In [42]:
X.shape

(2013, 11)

In [43]:
X.columns

Index(['auction', 'merchandise', 'device', 'time', 'country', 'ip', 'url',
       'total_bids', 'bids_per_auction', 'bids_per_device',
       'bids_per_country'],
      dtype='object')

In [72]:
!pip install catboost

Collecting catboost
  Downloading catboost-0.24.3-cp38-none-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 10.6 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.24.0 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from catboost) (1.0.5)
Requirement already satisfied: matplotlib in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from catboost) (3.2.2)
Collecting graphviz
  Downloading graphviz-0.15-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: plotly in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from catboost) (4.12.0)
Requirement already satisfied: numpy>=1.16.0 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from catboost) (1.18.5)
Requirement already satisfied: scipy in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from catboost) (1.5.0)
Requirement already satisfied: six in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from catboost) (1.15.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->catboost) (2020.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: retrying>=1.3.3 in /Users/yashica/opt/anaconda3/lib/python3.8/site-packages (from plotly->catboost) (1.3.3)
Installing collected packages: graphviz, catboost
Successfully installed catboost-0.24.3 graphviz-0.15

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier  
from catboost import CatBoostClassifier
from sklearn.model_selection import KFold
import statistics

features = ['auction', 'merchandise', 'device', 'time', 'country', 'ip', 'url',
       'total_bids', 'bids_per_auction', 'bids_per_device',
       'bids_per_country']

X = left_merged_df[features]
y = left_merged_df['outcome']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=5)

In [81]:
#catboost
model1 = CatBoostClassifier(random_seed=5)


model1.fit(X_train, y_train, verbose=False)  # set verbose=False if you find the logs too long


y_pred1 = model.predict_proba(X_test)

In [82]:
#RandomForestClassifier

model = RandomForestClassifier(random_state = 20)
model = model.fit(X_train, y_train)
y_pred2 = model.predict_proba(X_test)[:,1]


finalpred=(y_pred1+y_pred2)/2
print(finalpred)

ValueError: operands could not be broadcast together with shapes (604,2) (604,)

In [77]:
from sklearn.metrics import roc_curve, auc, roc_auc_score
roc_auc_score(y_test, finalpred)

0.9097851335656213

In [48]:
#Finalised Model!!

In [49]:
left_merged_df.shape

(2013, 15)

In [50]:
test_df.shape

(4700, 3)

In [51]:
X_train = X
y_train = y

print(X_train.shape)
print(y_train.shape)

(2013, 11)
(2013,)

In [52]:
new_test_df = test_df.merge(bids_df_unique, how = "left")

In [53]:
new_test_df.shape

(4700, 10)

In [54]:
new_test_df.columns

Index(['bidder_id', 'payment_account', 'address', 'auction', 'merchandise',
       'device', 'time', 'country', 'ip', 'url'],
      dtype='object')

In [55]:
left_merged_df.columns

Index(['bidder_id', 'payment_account', 'address', 'outcome', 'auction',
       'merchandise', 'device', 'time', 'country', 'ip', 'url', 'total_bids',
       'bids_per_auction', 'bids_per_device', 'bids_per_country'],
      dtype='object')

In [56]:
print(type(new_bids_per_auction))
print(type(new_test_df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [57]:
new_bids_per_auction.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2013 entries, 0 to 2012
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bidder_id         2013 non-null   object
 1   bids_per_auction  2013 non-null   int64
dtypes: int64(1), object(1)
memory usage: 47.2+ KB

In [64]:
new_bids_per_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2013 entries, 0 to 2012
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bidder_id         2013 non-null   object
 1   bids_per_country  2013 non-null   int64
dtypes: int64(1), object(1)
memory usage: 47.2+ KB

In [59]:
total_bids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6614 entries, 0 to 6613
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bidder_id   6614 non-null   object
 1   total_bids  6614 non-null   int64
dtypes: int64(1), object(1)
memory usage: 103.5+ KB

In [60]:
new_bids_per_device

                                  bidder_id  bids_per_device
0     3758013f9a2c4f9d8670e709d9e8beaba6f57                1
1     8a12c97c9dac9ef7fcbbceaf7522447cf6e49                1
2     27b3a0fecc63bf830bc44961c90f330308364                3
3     2a2b18bbdfa736637911cf407799b409112a2                2
4     3fdc7c645e5e131c05f1ae112dbae407523c5                6
...                                     ...              ...
2008  6c882acd41865f09edbef0075d0224feeb246                2
2009  0bbbc9ab5b0f4117de20eec945c10b027c812                2
2010  db8d65fd2c6934e9c3448398c3bd442f52a1a                1
2011  e2697e6c718d4bccf18f647c5284b6973bfc4               18
2012  be64780d529b64e6ff7942314666ba1d30b07                9

[2013 rows x 2 columns]

In [76]:
new_test_df = new_test_df.merge(total_bids, how = "left")
new_test_df = new_test_df.merge(new_bids_per_auction, how = "left")
new_test_df = new_test_df.merge(new_bids_per_device, how = "left")
new_test_df = new_test_df.merge(new_bids_per_country, how = "left")
new_test_df

,bidder_id,payment_account,address,auction,merchandise,device,time,country,ip,url,total_bids,bids_per_auction,bids_per_device,bids_per_country
0,0013f9b8d1f462df4462e1c1216e441ba6e18,b533766504f7cac1380ad70e4ae21ae29d83e,c8c25695d81d1bec3645b43a0d1107de014ae,6.0,1.0,7.0,8.0,2.0,8.0,4.0,8.0,0.0,0.0,0.0
1,0014e3b911d1420e43ced1dc4fc18fde0fd0c,f7e5e84d873cf8595077c2ecdf7059dec4544,b898d2e8088f4ff9823b8b8883886720bf44a,7.0,1.0,7.0,7.0,4.0,7.0,4.0,7.0,0.0,0.0,0.0
2,002828f800c5132e297cfe3d44fbde9aeac51,218b41ac41d259b11e52c2cf5a947c040ec1a,bb386f62212f98f6c5e25d5f81dc64069efe0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,0.0,0.0,0.0
3,0040cea6b93afd86768c365d89513ffb7c0ba,27eb8ae5e2eebd813b4e848c31a2a1507e0ab,16054860ef1c4ec72ec5da8d92047b8a983ee,23.0,1.0,21.0,31.0,6.0,28.0,4.0,31.0,0.0,0.0,0.0
4,00512db4ae953baed983a4bcfa335e7412013,553384bd9bb0551f5a9dc3118929c54d9ff8a,fb24aee263866fa218090ae99b374f354816b,345.0,1.0,331.0,1304.0,70.0,888.0,616.0,1306.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,ffd49be672b1ba493b07dccf29311045c5392,67fb4e3228b17f50d9fd3b55bcfa0baa102ce,2ef4838010247596bb0ffa2fcd9d37fa1a86c,20.0,1.0,69.0,168.0,5.0,102.0,40.0,168.0,0.0,0.0,0.0
4696,ffdd8ed91a683b0f2a8237798ebe9214e3c43,92feaccddb5d01938a88a48805f1c289b9751,bf62df480501dc376cb31137fc63526266dbe,4.0,1.0,3.0,5.0,1.0,4.0,2.0,5.0,0.0,0.0,0.0
4697,ffde8717e9a547d536a4e9c3f44782829c021,7d8f1523053775511a45f6231eb4da804da42,c3b54d8d6e95419603fad9e019e9d5f2fb203,16.0,1.0,20.0,24.0,6.0,24.0,4.0,24.0,0.0,0.0,0.0
4698,ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7,8d7b640b6421cbbbe5c3cb7e1e83ff3278d41,cb5d49cf7d2efcc7a958278b219823b890920,3.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0,0.0,0.0,0.0
4699,ffef2a34068ab5328795bc9ed2da46aa29626,0025b4892929407f73b5c2b34678b8276d188,b609d37bf90ed24324ec8378444a1c4c6c894,70.0,1.0,50.0,103.0,13.0,73.0,33.0,103.0,0.0,0.0,0.0

In [67]:
new_test_df.isnull().sum()
new_test_df = new_test_df.fillna(0)
new_test_df

,bidder_id,payment_account,address,auction,merchandise,device,time,country,ip,url,total_bids,bids_per_auction,bids_per_device,bids_per_country
0,0013f9b8d1f462df4462e1c1216e441ba6e18,b533766504f7cac1380ad70e4ae21ae29d83e,c8c25695d81d1bec3645b43a0d1107de014ae,6.0,1.0,7.0,8.0,2.0,8.0,4.0,8.0,0.0,0.0,0.0
1,0014e3b911d1420e43ced1dc4fc18fde0fd0c,f7e5e84d873cf8595077c2ecdf7059dec4544,b898d2e8088f4ff9823b8b8883886720bf44a,7.0,1.0,7.0,7.0,4.0,7.0,4.0,7.0,0.0,0.0,0.0
2,002828f800c5132e297cfe3d44fbde9aeac51,218b41ac41d259b11e52c2cf5a947c040ec1a,bb386f62212f98f6c5e25d5f81dc64069efe0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,0.0,0.0,0.0
3,0040cea6b93afd86768c365d89513ffb7c0ba,27eb8ae5e2eebd813b4e848c31a2a1507e0ab,16054860ef1c4ec72ec5da8d92047b8a983ee,23.0,1.0,21.0,31.0,6.0,28.0,4.0,31.0,0.0,0.0,0.0
4,00512db4ae953baed983a4bcfa335e7412013,553384bd9bb0551f5a9dc3118929c54d9ff8a,fb24aee263866fa218090ae99b374f354816b,345.0,1.0,331.0,1304.0,70.0,888.0,616.0,1306.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,ffd49be672b1ba493b07dccf29311045c5392,67fb4e3228b17f50d9fd3b55bcfa0baa102ce,2ef4838010247596bb0ffa2fcd9d37fa1a86c,20.0,1.0,69.0,168.0,5.0,102.0,40.0,168.0,0.0,0.0,0.0
4696,ffdd8ed91a683b0f2a8237798ebe9214e3c43,92feaccddb5d01938a88a48805f1c289b9751,bf62df480501dc376cb31137fc63526266dbe,4.0,1.0,3.0,5.0,1.0,4.0,2.0,5.0,0.0,0.0,0.0
4697,ffde8717e9a547d536a4e9c3f44782829c021,7d8f1523053775511a45f6231eb4da804da42,c3b54d8d6e95419603fad9e019e9d5f2fb203,16.0,1.0,20.0,24.0,6.0,24.0,4.0,24.0,0.0,0.0,0.0
4698,ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7,8d7b640b6421cbbbe5c3cb7e1e83ff3278d41,cb5d49cf7d2efcc7a958278b219823b890920,3.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0,0.0,0.0,0.0
4699,ffef2a34068ab5328795bc9ed2da46aa29626,0025b4892929407f73b5c2b34678b8276d188,b609d37bf90ed24324ec8378444a1c4c6c894,70.0,1.0,50.0,103.0,13.0,73.0,33.0,103.0,0.0,0.0,0.0

In [68]:
new_test_df.shape

(4700, 14)

In [69]:
X_train

,auction,merchandise,device,time,country,ip,url,total_bids,bids_per_auction,bids_per_device,bids_per_country
0,25.0,1.0,30.0,50.0,8.0,37.0,15.0,50.0,2,1,6
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1
2,2.0,1.0,1.0,3.0,3.0,3.0,2.0,3.0,1,3,1
3,33.0,1.0,22.0,61.0,4.0,34.0,9.0,61.0,1,2,15
4,377.0,1.0,462.0,3177.0,72.0,2318.0,190.0,3184.0,8,6,44
...,...,...,...,...,...,...,...,...,...,...,...
2008,68.0,1.0,125.0,296.0,27.0,210.0,47.0,297.0,4,2,11
2009,7.0,1.0,5.0,14.0,1.0,7.0,6.0,14.0,2,2,14
2010,23.0,1.0,15.0,26.0,8.0,19.0,10.0,26.0,1,1,3
2011,28.0,1.0,3.0,54.0,4.0,5.0,6.0,54.0,1,18,13
2012,38.0,1.0,9.0,89.0,7.0,46.0,1.0,89.0,2,9,12

In [70]:
X_test = new_test_df.drop(columns = ['bidder_id', 'payment_account', 'address'])

In [71]:
X_test

,auction,merchandise,device,time,country,ip,url,total_bids,bids_per_auction,bids_per_device,bids_per_country
0,6.0,1.0,7.0,8.0,2.0,8.0,4.0,8.0,0.0,0.0,0.0
1,7.0,1.0,7.0,7.0,4.0,7.0,4.0,7.0,0.0,0.0,0.0
2,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,0.0,0.0,0.0
3,23.0,1.0,21.0,31.0,6.0,28.0,4.0,31.0,0.0,0.0,0.0
4,345.0,1.0,331.0,1304.0,70.0,888.0,616.0,1306.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4695,20.0,1.0,69.0,168.0,5.0,102.0,40.0,168.0,0.0,0.0,0.0
4696,4.0,1.0,3.0,5.0,1.0,4.0,2.0,5.0,0.0,0.0,0.0
4697,16.0,1.0,20.0,24.0,6.0,24.0,4.0,24.0,0.0,0.0,0.0
4698,3.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0,0.0,0.0,0.0
4699,70.0,1.0,50.0,103.0,13.0,73.0,33.0,103.0,0.0,0.0,0.0

In [72]:
new_test_df.bidder_id

0       0013f9b8d1f462df4462e1c1216e441ba6e18
1       0014e3b911d1420e43ced1dc4fc18fde0fd0c
2       002828f800c5132e297cfe3d44fbde9aeac51
3       0040cea6b93afd86768c365d89513ffb7c0ba
4       00512db4ae953baed983a4bcfa335e7412013
                        ...
4695    ffd49be672b1ba493b07dccf29311045c5392
4696    ffdd8ed91a683b0f2a8237798ebe9214e3c43
4697    ffde8717e9a547d536a4e9c3f44782829c021
4698    ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7
4699    ffef2a34068ab5328795bc9ed2da46aa29626
Name: bidder_id, Length: 4700, dtype: object

In [73]:



log_reg = LogisticRegression(max_iter=1000)
log_reg_model = log_reg.fit(X_train, y_train)
y_pred1 = log_reg_model.predict_proba(X_test)[:,1]


model = RandomForestClassifier(random_state = 20)
model = model.fit(X_train, y_train)
y_pred2 = model.predict_proba(X_test)[:,1]


finalpred=(y_pred1+y_pred2)/2
print(finalpred)

[0.01741804 0.01790372 0.01730326 ... 0.01849752 0.01739376 0.03246246]

In [74]:
output_df = pd.DataFrame({
    "Id": new_test_df.bidder_id,
    "Predicted": finalpred    
})

output_df

                                         Id  Predicted
0     0013f9b8d1f462df4462e1c1216e441ba6e18   0.017418
1     0014e3b911d1420e43ced1dc4fc18fde0fd0c   0.017904
2     002828f800c5132e297cfe3d44fbde9aeac51   0.017303
3     0040cea6b93afd86768c365d89513ffb7c0ba   0.018844
4     00512db4ae953baed983a4bcfa335e7412013   0.081879
...                                     ...        ...
4695  ffd49be672b1ba493b07dccf29311045c5392   0.062161
4696  ffdd8ed91a683b0f2a8237798ebe9214e3c43   0.017203
4697  ffde8717e9a547d536a4e9c3f44782829c021   0.018498
4698  ffe66dcb4b34bdbb5e17d7db7b1395e3fbbb7   0.017394
4699  ffef2a34068ab5328795bc9ed2da46aa29626   0.032462

[4700 rows x 2 columns]

In [77]:
# output_df.to_csv("test_submission.csv", index=False)

In [1]:
d1 = new_test_df["bidder_id"] 
d2 = new_bids_per_auction["bidder_id"]

some_list = []
for data in d1:
    for data in d2:
        if d1 in d2:
            some_list.append(d1)
            
len(some_list)

NameError: name 'new_test_df' is not defined

In [ ]:
import 
d1 = new_test_df["bidder_id"] 
d1.numpy.ndarray.tolist